<!DOCTYPE html>
<html>
    <head>
        <title>This is Branch-info Page</title>
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
        <h1>Branch-info</h1>
        <a href="/profile/">profile</a>
        <a href="/branch/">branch</a>
        <a href="/product/">product</a>

        <form action="" method="post">
            <label for="branch_name">分店名稱 ex. 文山店：</label>
            <input type="text" name="branch_name" value="" id="branch_name"> <br />
            <label for="branch_address">分店地址：</label>
            <input type="text" name="branch_address" value="" id="branch_address"> <br />
            <label for="branch_phone">分店號碼：</label>
            <input type="text" name="branch_phone" value="" id="branch_phone"> <br />
            <input type="submit" value="儲存" />
        </form>
    </body>
</html>