<!DOCTYPE html>
<html>
    <head>
        <title>This is Register Page</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    </head>
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    <body>
        <h1>Register</h1>
        <button type="button" class = "btn btn-primary w-100" id="back_login">已註冊</button>
    </body>
</html>

<script>
    $("#back_login").click(function(e){
        window.location = "/";
    });
</script>